*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.dimensione {

    height: 184px;
    width: 280px;
    object-fit: contain;
}


.my_btn {

    background-color: #F15A24;
    border: 2px solid black;

}


.my_btn:hover {

    background-color: #f1784b;
    border: 2px solid black;
    
}


.rotate {

    animation: spin 3s linear infinite;
}

@keyframes spin{

    /* Effetto rotazione */

    /*from{ transform: rotate(0deg); } /* 0 gradi */
    /*to{ transform: rotate(360deg); } /* 360 gradi */


    /* Effetto Bumping */
    10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}








